<div class="section-benefits container">
<div class="benefits">
    <p class="pbenefits">Benefits of working with me</p>
    <div class="benefits-grid">
    <div class="expertise">
        <div class="benefits-icon">
        <svg class="benefits-icon-1" style="width: 48; height: 48; border-radius: 10px;">
            <use href="../img/icons-1.svg#icon-Featured-icon">
            </use>
        </svg>
        </div>
        <p class="benefits-text">
            <h5>Expertise</h5>
            As a highly experienced developer, I have deep knowledge of programming and website development.
        </p>
    </div>
    <div class="communication">
        <div class="benefits-icon">
            <svg class="benefits-icon-1" style="width: 48; height: 48; border-radius: 10px;">
                <use href="../img/icons-1.svg#icon-Featured-icon-1">
                </use>
            </svg>
            </div>
            <p class="benefits-text">
                <h5>Communication</h5>
                Understanding your needs and wants is my priority and I am always open to discussions and corrections.
            </p>
    </div>
    <div class="art"> 
        <div class="benefits-icon">
        <svg class="benefits-icon-1" style="width: 48; height: 48; border-radius: 10px;">
            <use href="../img/icons-1.svg#icon-Featured-icon-2">
            </use>
        </svg>
        </div>
        <p class="benefits-text">
            <h5>Art</h5>
            Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life. 
        </p>
    </div>
    <div class="urgent-execution">
        <div class="benefits-icon">
        <svg class="benefits-icon-1" style="width: 48; height: 48; border-radius: 10px;">
            <use href="../img/icons-1.svg#icon-Featured-icon-3">
            </use>
        </svg>
        </div>
        <p class="benefits-text">
            <h5>Urgent execution</h5>
            I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.
        </p>
    </div>
</div>
    <div class="gap-fix"></div>
    <div class="benefits-button">
        <button class="send-button" type="button"><a href="work-together.html">Order the project</a></button>
    </div>
</div>
</div>