<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="covers">
      <div class="covers container">
      <h2 class="visually-hidden">Covers</h2>

      <div class="marquee-wrapper left">
        <ul class="covers-list">
          <li><img src="/img/covers/project1_x1.jpg" alt="Cover 1" /></li>
          <li><img src="/img/covers/project2_x1.jpg" alt="Cover 2" /></li>
          <li><img src="/img/covers/project3_x1.jpg" alt="Cover 3" /></li>
          <li><img src="/img/covers/project4_x1.jpg" alt="Cover 4" /></li>
          <li><img src="/img/covers/project5_x1.jpg" alt="Cover 5" /></li>
          <!-- duplicate-->
          <li>
            <img src="/img/covers/project2_x1.jpg" alt="Cover 2 dublicate" />
          </li>
          <li>
            <img src="/img/covers/project1_x1.jpg" alt="Cover 1 dublicate" />
          </li>
          <li>
            <img src="/img/covers/project3_x1.jpg" alt="Cover 3 dublicate" />
          </li>
          <li>
            <img src="/img/covers/project4_x1.jpg" alt="Cover 4 dublicate" />
          </li>
          <li>
            <img src="/img/covers/project5_x1.jpg" alt="Cover 5 dublicate" />
          </li>
        </ul>
      </div>
      <div class="marquee-wrapper right">
        <ul class="covers-list">
          <li><img src="/img/covers/project6_x1.jpg" alt="Cover 6" /></li>
          <li><img src="/img/covers/project7_x1.jpg" alt="Cover 7" /></li>
          <li><img src="/img/covers/project8_x1.jpg" alt="Cover 8" /></li>
          <li><img src="/img/covers/project9_x1.jpg" alt="Cover 9" /></li>
          <li><img src="/img/covers/project10_x1.jpg" alt="Cover 10" /></li>
          <!-- duplicate-->
          <li>
            <img src="/img/covers/project6_x1.jpg" alt="Cover 6 dublicate" />
          </li>
          <li>
            <img src="/img/covers/project7_x1.jpg" alt="Cover 7 dublicate" />
          </li>
          <li>
            <img src="/img/covers/project8_x1.jpg" alt="Cover 8 dublicate" />
          </li>
          <li>
            <img src="/img/covers/project9_x1.jpg" alt="Cover 9 dublicate" />
          </li>
          <li>
            <img
              src="/img/covers/project10_x1.jpg"
              alt="Cover 10 dublicate"
            />
          </li>
        </ul>
      </div>
      <div class="marquee-wrapper left">
        <ul class="covers-list">
          <li><img src="/img/covers/project5_x1.jpg" alt="Cover 5" /></li>
          <li><img src="/img/covers/project4_x1.jpg" alt="Cover 4" /></li>
          <li><img src="/img/covers/project1_x1.jpg" alt="Cover 1" /></li>
          <li><img src="/img/covers/project2_x1.jpg" alt="Cover 2" /></li>
          <li><img src="/img/covers/project3_x1.jpg" alt="Cover 3" /></li>
          <!-- duplicate-->
          <li>
            <img src="/img/covers/project5_x1.jpg" alt="Cover 5 dublicate" />
          </li>
          <li>
            <img src="/img/covers/project4_x1.jpg" alt="Cover 4 dublicate" />
          </li>
          <li>
            <img src="/img/covers/project1_x1.jpg" alt="Cover 1 dublicate" />
          </li>
          <li>
            <img src="/img/covers/project2_x1.jpg" alt="Cover 2 dublicate" />
          </li>
          <li>
            <img src="/img/covers/project3_x1.jpg" alt="Cover 3 dublicate" />
          </li>
        </ul>
      </div>
      <div class="marquee-wrapper right">
        <ul class="covers-list">
          <li><img src="/img/covers/project10_x1.jpg" alt="Cover 10" /></li>
          <li><img src="/img/covers/project9_x1.jpg" alt="Cover 9" /></li>
          <li><img src="/img/covers/project6_x1.jpg" alt="Cover 6" /></li>
          <li><img src="/img/covers/project7_x1.jpg" alt="Cover 7" /></li>
          <li><img src="/img/covers/project8_x1.jpg" alt="Cover 8" /></li>
          <!-- duplicate-->
          <li>
            <img
              src="/img/covers/project10_x1.jpg"
              alt="Cover 10 dublicate"
            />
          </li>
          <li>
            <img src="/img/covers/project9_x1.jpg" alt="Cover 9 dublicate" />
          </li>
          <li>
            <img src="/img/covers/project6_x1.jpg" alt="Cover 6 dublicate" />
          </li>
          <li>
            <img src="/img/covers/project7_x1.jpg" alt="Cover 7 dublicate" />
          </li>
          <li>
            <img src="/img/covers/project8_x1.jpg" alt="Cover 8 dublicate" />
          </li>
        </ul>
      </div>
      <div class="marquee-wrapper left">
        <ul class="covers-list">
          <li><img src="/img/covers/project1_x1.jpg" alt="Cover 1" /></li>
          <li><img src="/img/covers/project2_x1.jpg" alt="Cover 2" /></li>
          <li><img src="/img/covers/project3_x1.jpg" alt="Cover 3" /></li>
          <li><img src="/img/covers/project4_x1.jpg" alt="Cover 4" /></li>
          <li><img src="/img/covers/project5_x1.jpg" alt="Cover 5" /></li>
          <!-- duplicate-->
          <li>
            <img src="/img/covers/project2_x1.jpg" alt="Cover 2 dublicate" />
          </li>
          <li>
            <img src="/img/covers/project1_x1.jpg" alt="Cover 1 dublicate" />
          </li>
          <li>
            <img src="/img/covers/project3_x1.jpg" alt="Cover 3 dublicate" />
          </li>
          <li>
            <img src="/img/covers/project4_x1.jpg" alt="Cover 4 dublicate" />
          </li>
          <li>
            <img src="/img/covers/project5_x1.jpg" alt="Cover 5 dublicate" />
          </li>
        </ul>
      </div>
    </div>
    </section>
  </body>
</html>
