<section class="section-hero">
  <div class="container">
    <h1 class="section-hero-title">
      Hello.
      <span class="block-text">I’m&nbsp;Fullstack developer</span>
      Lloyd Jefferson.
    </h1>
    <div class="box-social-list">
      <ul class="social-list">
        <li class="social-list-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="social-link"
            target="_blank"
            rel="”noopener"
            noreferrer”
          >
            IG
          </a>
        </li>
        <li class="social-list-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="social-link"
            target="_blank"
            rel="”noopener"
            noreferrer”
          >
            FB
          </a>
        </li>
        <li class="social-list-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="social-link"
            target="_blank"
            rel="”noopener"
            noreferrer”
          >
            YT
          </a>
        </li>
        <li class="social-list-item">
          <a
            href="https://dmytrovalman.github.io/serious-team-JS-project/"
            class="social-link"
            target="_blank"
            rel="”noopener"
            noreferrer”
          >
            GH
          </a>
        </li>
        <li class="social-list-item">
          <a href="mailto:lloydjefferson@gmail.com" class="social-link">
            lloydjefferson@gmail.com
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
