.faq {
    padding: 64px 16px;
}
.faq-title {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
}
.faq-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;

}
.faq-item {
    display: flex;
    align-items: flex-start;
    padding: 20px 0;
    justify-content: flex-start;
    flex-direction: column;
    border-bottom: solid 1px rgba(250, 250, 250, 0.2);
}
.faq-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 343px;
}
  

.faq-subtitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
}

.faq-item-text {
    margin-top: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);

    
}
.faq-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    width: 34px;
    height: 34px;
}

.faq-item-text {
    display: none;
}

.faq-item.open .faq-item-text {
    display: block;
}

.faq-icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}
.faq-icon.rotated {
    transform: rotate(180deg);
}